[Unit]
Description=Regenerate SSH host keys
ConditionPathExists=!/etc/ssh/ssh_host_rsa_key
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ssh-keygen -A -v

[Install]
WantedBy=sysinit.target
